@charset "UTF-8";

body{ 
    background-color: black; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure; 
    font-size: 30px;
}
h1{
    color: aliceblue
}
h2{
    color: antiquewhite
}
p{
    text-align: justify
}

        .btn-magia {
            background-color: #2e1065; 
            border: 1px solid #5b21b6; 
            border-radius: 6px; 
            padding: 20px;
            color: #ddd6fe; cursor: pointer; min-height: 70px; 
            /* FLEXIBILIDADE DE TEXTO - CRUCIAL PARA NÃO QUEBRAR O LAYOUT */
            align-items: center; justify-content: center; text-align: center; 
            font-size: 0.9rem; 
            transition: all 0.3s; position: relative;
            display: inline-block;      /* não flex, não 'empurra' linhas */
            vertical-align: baseline;
            line-height: 1.2;           /* ajuste conforme sua tipografia */
            white-space: normal;        /* permite quebra natural */
            overflow: visible;
        }
        .btn-magia:not(.info):not(.selecionado) {
            padding: 24px 0px 0px 0px;
        }
        .btn-magia:hover { 
            background-color: #4c1d95; 
            transform: translateY(-3px); 
            box-shadow: 0 8px 15px rgba(76, 29, 149, 0.3); 
            z-index: 10; }
        .btn-magia.info { 
            background-color: #1e1b4b; 
            font-style: italic; 
            font-size: 0.85rem; 
            color: #a5b4fc; }
        .btn-magia.selecionado { 
            background-color: #5b21b6; 
            border-color: #8b5cf6; 
            color: white; font-weight: bold; 
            box-shadow: 0 0 10px rgba(139, 92, 246, 0.4);
            padding: 24px 0px 0px 0px}
        .btn-magia.selecionado::after { content: '✔'; position: absolute; top: 5px; right: 5px; font-size: 1rem; color: #c4b5fd; opacity: 0; transform: scale(0); transition: all 0.3s; }
        .btn-magia.selecionado:hover::after { opacity: 1; transform: scale(1); top: -8px; right: -5px; }
